
body{
    text-align: center;
}
#title{
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}
#note{
    font-family: "Times New Roman";
}
 #status{
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}